# Секреты и окружение
.env
.env.local

# Кеш Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Виртуальное окружение
venv/
.env/
.venv/

# Редакторы кода
.vscode/
.idea/
*.swp
*.swo

# Логи и базы данных
*.log
*.db
*.sqlite3

# Файлы сборки и дистрибутивы
dist/
build/
*.egg-info/
*.egg

# Alembic
alembic/__pycache__/